﻿@page
@model Exam12019.Pages.Auth.LoginModel
@{
}

<h1>Login</h1>
<br />

<form method="post">
	<div>
		<label asp-for="Form.Username"></label>
		<br />
		<input asp-for="Form.Username" />
		@Html.ValidationMessageFor(Q => Q.Form.Username)
	</div>
	<div>
		<label asp-for="Form.Password"></label>
		<br />
		<input asp-for="Form.Password" type="password" />
		@Html.ValidationMessageFor(Q => Q.Form.Password)
	</div>
	<div>
		<br />
		<button type="submit">Login</button>
	</div>
</form>
