﻿@page
@model Exam12019.Pages.Restaurant.CreateModel
@{
}

<div>
    <h2>Edit Restaurant</h2>
</div>
<br />
<br />
<div>
    <form method="post">
        <div>
            <label asp-for="FormRestaurant.Name">Restaurant Name: </label>
            <input asp-for="FormRestaurant.Name" placeholder="Isi Nama Restaurant" />
        </div>
        <div>
            <label asp-for="FormRestaurant.Address">Restaurant Address: </label>
            <input asp-for="FormRestaurant.Address" placeholder="Isi Nama Restaurant" />
        </div>
        <div>
            <button type="submit">Create New Restaurant</button>
        </div>
    </form>
</div>
