﻿@page "{RestaurantID:Guid}"
@model Exam12019.Pages.Restaurant.DeleteModel
@{
}

<div>
    <h2>Delete Restaurant</h2>
</div>
<br />
<br />
<div>
    <label>Are you sure want to Delete @Model.FormRestaurant.Name's Restaurant ??</label>
    <form method="post">
        <button type="submit">Yes</button>
    </form>
    <a href="/Restaurant/Index"> No </a>
</div>
