﻿@page "{RestaurantID:Guid}"
@model Exam12019.Pages.Restaurant.EditModel
@{
}

<div>
    <h2>Edit Restaurant</h2>
</div>
<br />
<div>
    <a href="/Restaurant/Index">Back to Restaurant Index</a>
</div>
<br />
<div>
    <form method="post">
        <div>
            <label>Data dari restaurant ID: @Model.RestaurantID</label>
        </div>
        <div>
            <label asp-for="FormRestaurant.Name">Restaurant Name: </label>
            <input asp-for="FormRestaurant.Name" placeholder="Isi Nama Restaurant" />
        </div>
        <div>
            <label asp-for="FormRestaurant.Address">Restaurant Address: </label>
            <input asp-for="FormRestaurant.Address" placeholder="Isi Nama Restaurant" />
        </div>
        <div>
            <button type="submit">Update Restaurant</button>
        </div>
    </form>
</div>
