﻿@page
@model Exam12019.Pages.Restaurant.IndexModel
@{
}

<div>
    <h2>Restaurant List</h2>
</div>
<br />
<div>
    @if (@Model.IsEmpty == true)
    {
        <h2>Restaurant masih kosong</h2>
    }
    else
    {
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Restauran ID</th>
                        <th>Restauran Name</th>
                        <th>Restauran Address</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RestaurantList)
                    {
                    <tr>
                        <td>@item.RestaurantID </td>
                        <td>@item.Name </td>
                        <td>@item.Address </td>
                        <td>
                            <a href="@Url.Page("/Restaurant/Edit", new { RestaurantID = item.RestaurantID })">Edit Restaurant</a>
                            <a href="@Url.Page("/Restaurant/Delete", new { RestaurantID = item.RestaurantID })">Delete Restaurant</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<div>
    <a href="/Restaurant/Create">Create new restaurant</a>
</div>

