﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br /><br />
    <a href="/Restaurant">Restaurant</a>
    <a href="/Reservation">Reservation</a>
    <a href="/Auth/Logout">Logout</a>
</div>
