﻿@page "{reservationID:Guid}"
@model Exam12019.Pages.Reservation.DetailsModel
@{
}

<h1>Reservation for @Model.Reservation.Name</h1>
<br />

<p>Name: @Model.Reservation.Name</p>
<p>Email: @Model.Reservation.Email</p>
<p>Restaurant Name: @Model.Restaurant.Name</p>
<p>Restaurant Address: @Model.Restaurant.Address</p>
