﻿@page
@model Exam12019.Pages.Reservation.IndexModel
@{
}

<h1>All Reservation</h1>
<br />

<a href="/Reservation/Insert">Add Reservation</a>
<br />

<form method="post">
    <label asp-for="ReservationID"></label>
    <br />
    <input asp-for="ReservationID" />
    <button type="submit">Search Reservation</button>
</form>

<br />
<ul>
    @foreach (var reservation in Model.ReservationList)
    {
        <li>
            <a href="@Url.Page("/Reservation/Details", new { reservationID = reservation.ReservationID })">
                @reservation.Name
            </a>
        </li>
    }
</ul>