﻿@page
@model Exam12019.Pages.Reservation.InsertModel
@{
}

<h1>
    Insert Reservation
</h1>
<br />

<form method="post">
    <div>
        <label asp-for="Form.Name"></label>
        <br />
        <input asp-for="Form.Name" />
        <span asp-validation-for="Form.Name"></span>
    </div>
    <div>
        <label asp-for="Form.Email"></label>
        <br />
        <input asp-for="Form.Email" type="email" />
        <span asp-validation-for="Form.Email"></span>
    </div>
    <div>
        <label asp-for="Form.ReservationTime"></label>
        <br />
        <input asp-for="Form.ReservationTime" type="datetime-local" />
        <span asp-validation-for="Form.ReservationTime"></span>
    </div>
    <div>
        <label asp-for="Form.RestaurantID">Pilih Restaurant</label>
        <br />
        <select asp-for="Form.RestaurantID">
            @foreach (var restaurant in await Model.RestaurantCache.GetRestaurantAsync())
            {
                <option value="@restaurant.RestaurantID">@restaurant.Name</option>
            }
        </select>
    </div>
    <button type="submit">Insert Reservation</button>
</form>